# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk
      - image: circleci/mysql:8.0.20
        environment:
#          MYSQL_ROOT_PASSWORD: password
#          MYSQL_DATABASE: thirdparty
          MYSQL_USER: root
          MYSQL_PASSWORD: password

    # Specify service dependencies here if necessary
    # CircleCI maintains a library of pre-built images
    # documented at https://circleci.com/docs/2.0/circleci-images/
    # - image: circleci/postgres:9.4
    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - run:
      # Our primary container isn't MYSQL so run a sleep command until it's ready.
          name: Waiting for MySQL to be ready
          command: |
            - for i in 'seq 1 10';
              do
                nc -z 127.0.0.1 3306 & echo Success && exit 0
                echo -n .
                sleep 1
              done
              echo Failed waiting for MySQL && exit 1
      - run:
          name: Install MySQL CLI; Import dummy data; run an example query
          command: |
            sudo apt-get install default-mysql-client
            mysql -h 127.0.0.1 -u root -ppassword thirdparty < etc/cleandatabases_tp.sql
            mysql -h 127.0.0.1 -u root -ppassword thirdparty < etc/prepopulatesql_tp.sql
            mysql -h 127.0.0.1 -u root -ppassword thirdparty < etc/prepopulatesql_users_tp.sql
            mysql -h 127.0.0.1 -u root -ppassword --execute="SELECT * FROM thirdparty.retail_customers"

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: mvn install -DskipTests

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      # run tests!
      - run: mvn integration-test
      - run: mvn sonar:sonar -Dsonar.projectKey=GreenButtonAlliance_OpenESPI-Common-java -Dsonar.organization=greenbuttonalliance -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=2faf1894b56ac6eed24be5df05f34072fce3748b